
body{
    background-image: url("https://t3.ftcdn.net/jpg/05/37/17/24/360_F_537172411_C4GmfD6cpU7mrra2CYzyYUL34w3Bk1mN.jpg");
}



#intro,#skills,#contact, #resume{
    background-color:rgb(31, 29, 29);
   
}

#frankly-img,#warbler-img,#lunchly-img{
    cursor: pointer;
}


p,a,hr,h1{
    color: white;
}

h3,h2{
    color: rgb(86, 160, 238);
}




.bi-chevron-double-down{
display: flex;
font-size: 2rem;
color: white;
justify-content: center;
 animation: bounce 2s;
 animation-iteration-count: infinite;
} */



/* add style to section projects */
.project{
    background-color:rgb(31, 29, 29);
}





