/* 
@media(max-width:600px){

}


@media(min-width:600px){
    
} */


body{
    background-image: url("https://t3.ftcdn.net/jpg/05/37/17/24/360_F_537172411_C4GmfD6cpU7mrra2CYzyYUL34w3Bk1mN.jpg");
}



#intro,#skills,#contact, #resume{
    background-color:rgb(31, 29, 29);
   
}


p,a,hr,h1{
    color: white;
}

h3,h2{
    color: rgb(86, 160, 238);
}

/* create and use animations */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 } 


 @keyframes spin {
    0% { transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
  }

  .bi-gear-fill{
    /* display:flex ; */
    animation: spin 3s linear infinite ;
  }


.bi-chevron-double-down{
display: flex;
font-size: 2rem;
color: white;
justify-content: center;
 animation: bounce 2s;
 animation-iteration-count: infinite;
}



/* add style to section projects */
.project{
    background-color:rgb(31, 29, 29);
}





